[submodule "deps/libev"]
	path = deps/libev
	url = https://github.com/GrizzlyCloud/libev.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/GrizzlyCloud/openssl.git
[submodule "deps/libjson-c"]
	path = deps/libjson-c
	url = https://github.com/GrizzlyCloud/json-c.git
	branch = json-c-0.13
